#content {
    margin-top: 120px;
    margin-bottom: 20px;
}

.actions {
    margin-top: 40px;
    margin-bottom: 20px;
}

.recibo{
    max-width: 50%; 
    
}

.reparacoes{
    margin-top: 60px;
}

.md-form input{
    border-bottom:none;
}

.md-form textarea{
    border-bottom:none;
}